<div>
  <nav class="navbar navbar-expand-lg" style="background-color: lightblue;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Book Store</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Thể loại
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="#">Sách học ngoại ngữ</a>
              </li>
              <li><a class="dropdown-item" routerLink="#">Văn học</a></li>
              <li>
                <a class="dropdown-item" routerLink="#">Tâm lý kỹ năng</a>
              </li>
              <li><a class="dropdown-item" routerLink="#">Kinh tế</a></li>
              <li>
                <a class="dropdown-item" routerLink="#">Tiểu sử - Hồi ký</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="#">Sách tham khảo</a>
              </li>
            </ul>
          </li> -->
        </ul>
        <div routerLink="cart">
          <h3>
            <i class="bi bi-cart"
              ><span class="position-absolute translate-middle badge rounded-pill bg-danger" style="font-size: 12px;">
                1
              </span>
            </i>
          </h3>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <h3 role="button" data-bs-toggle="dropdown" aria-expanded="true">
                <i class="bi bi-person">Chào bạn!</i>
              </h3>
              <ul *ngIf="isLogedIn === true" class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="profile">Hồ Sơ</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="delivery-information"
                    >Danh sách địa chỉ</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="orders"
                    >Danh sách đơn hàng</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">Đăng xuất</a>
                </li>
              </ul>
              <ul *ngIf="isLogedIn === false" class="dropdown-menu">
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</a>
                </li>
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#RegisterModal">Đăng ký tài khoản</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<app-login></app-login>
<app-register></app-register>