<div class="delivery-info-frame">
  <div class="delivery-info-title">Danh sách thông tin nhận hàng</div>
  <div class="delivery-info-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Người nhận</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listDeliveryInformation; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.receiverName}}</td>
          <td>{{item.receiverPhoneNumber}}</td>
          <td>{{item.deliveryAddress}}</td>
          <td>
            <h4 (click)="deleteDelivery(item.deliveryId)"><i class="bi bi-trash3"></i></h4>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center; margin: 3%;">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-deivery-form">
        Thêm thông tin nhận hàng mới
      </button>
    </div>
  </div>
</div>
<app-add-delivery></app-add-delivery>