<div class="order-detail-frame">
  <div class="order-detail-title">
    Đơn hàng #{{order.orderId}} - {{order.createDate}} - {{order.status}} - Tổng tiền: {{order.totalPrice}}
  </div>
  <div class="order-detail">
    <div class="order-detail-row-title">
      <div class="order-item-1"></div>
      <div class="order-item-2"></div>
      <div class="order-item-3"><b>Số lượng</b></div>
      <div class="order-item-4"><b>Thành tiền</b></div>
    </div>
    <div class="order-item-row" *ngFor="let item of order.orderDetail">
      <div class="order-item-1">
        <a routerLink="product/{{item.productId}}">
          <img
            src="{{item.productImageUrl}}"
            class="img-fluid"
            alt="..."
          />
        </a>
      </div>
      <div class="order-item-2">
        <div>{{item.productName}}</div>
        <!-- <div><b>45.000đ</b></div> -->
      </div>
      <div class="order-item-3">{{item.quantity}}</div>
      <div class="order-item-4"><b style="color: red">{{item.price}}</b></div>
    </div>
  </div>

  <div class="order-checkout-title">Thông tin giao hàng</div>
  <div class="order-delivery-info">
    <div><b>Tên người nhận: </b>{{order.deliveryInformaion.receiverName}}</div>
    <div><b>Số điện thoại: </b>{{order.deliveryInformaion.receiverPhoneNumber}}</div>
    <div>
      <b>Địa chỉ nhận hàng: </b>{{order.deliveryInformaion.deliveryAddress}}</div>
    <div><b>Phương thức thanh toán: </b>{{order.paymentMethod}}</div>
  </div>
  <div style="text-align: center; margin-top: 3%">
    <button
      type="button"
      class="btn btn-primary"
      (click)="reorder()"
    >
      Đặt lại đơn hàng này
    </button>
    <button
      *ngIf="order.status === 'Đã đặt'"
      type="button"
      class="btn btn-danger"
      (click)="cancelOrder()"
    >
      Hủy
    </button>
  </div>
</div>
