<div class="order-detail-frame">
  <div class="order-detail-title">
    Đơn hàng #1 - 11/11/2022 - Đã đặt - Tổng tiền: 200.000đ
  </div>
  <div class="order-detail">
    <div class="order-detail-row-title">
      <div class="order-item-1"></div>
      <div class="order-item-2"></div>
      <div class="order-item-3"><b>Số lượng</b></div>
      <div class="order-item-4"><b>Thành tiền</b></div>
    </div>
    <div class="order-item-row">
      <div class="order-item-1">
        <a routerLink="product">
          <img
            src="https://rosentaskstorage.blob.core.windows.net/book-store/p_1_1.jpg"
            class="img-fluid"
            alt="..."
          />
        </a>
      </div>
      <div class="order-item-2">
        <div>IKIGAMI - Tập 5 - Tặng Kèm Bookmark IKIGAMI</div>
        <div><b>45.000đ</b></div>
      </div>
      <div class="order-item-3">2</div>
      <div class="order-item-4"><b style="color: red">45.000đ</b></div>
    </div>
  </div>

  <div class="order-checkout-title">Thông tin giao hàng</div>
  <div class="order-delivery-info">
    <div><b>Tên người nhận: </b>Nguyễn Văn A</div>
    <div><b>Số điện thoại: </b>0987654321</div>
    <div>
      <b>Địa chỉ nhận hàng: </b>Đ. D2, Tăng Nhơn Phú B, Quận 9, Thành phố Hồ Chí
      Minh, Việt Nam
    </div>
    <div><b>Phương thức thanh toán: </b>Tiền mặt</div>
  </div>
  <div style="text-align: center; margin-top: 3%">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#ádas"
    >
      Đặt lại đơn hàng này
    </button>
    <button
      style="display: none"
      type="button"
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#ádas"
    >
      Hủy
    </button>
  </div>
</div>
