<div
  class="modal fade"
  id="chooseDeliveryAddress"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          Chọn thông tin nhận hàng
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="choose-address-form">
          <div *ngFor="let delivery of listDeliveryInformation">
            <input type="radio" [(ngModel)]="deliveryInformaionId" value="{{delivery.deliveryId}}" />
            <div>Tên người nhận: {{delivery.receiverName}}</div>
            <div>Số điện thoại: {{delivery.receiverPhoneNumber}}</div>
            <div>{{delivery.deliveryAddress}}</div>
            <hr />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="delivery-information">
          Thêm thông tin mới
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="chooseDelivery()">Chọn</button>
      </div>
    </div>
  </div>
</div>
