<div
  class="modal fade"
  id="chooseDeliveryAddress"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          Chọn thông tin nhận hàng
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="choose-address-form">
          <div>
            <input type="radio" name="delivery-address" value="1" />
            <div>Tên người nhận: Nguyễn văn A</div>
            <div>Số điện thoại: 0987654321</div>
            <div>
              Địa chỉ nhận hàng: 13 d, Quận 9, Thành phố Hồ Chí Minh, Việt Nam
            </div>
          </div>
          <hr />
          <div>
            <input type="radio" name="delivery-address" value="1" />
            <div>Tên người nhận: Nguyễn văn A</div>
            <div>Số điện thoại: 0987654321</div>
            <div>
              Địa chỉ nhận hàng: 13 d, Quận 9, Thành phố Hồ Chí Minh, Việt Nam
            </div>
          </div>
          <hr />
          <div>
            <input type="radio" name="delivery-address" value="1" />
            <div>Tên người nhận: Nguyễn văn A</div>
            <div>Số điện thoại: 0987654321</div>
            <div>
              Địa chỉ nhận hàng: 13 d, Quận 9, Thành phố Hồ Chí Minh, Việt Nam
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="delivery-information">
          Thêm thông tin mới
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-primary">Chọn</button>
      </div>
    </div>
  </div>
</div>
