<div class="product-information-frame">
    <div class="product-information-title">Thông tin sản phẩm</div>
    <div class="product-information-item">
        <div class="product-information-item-key">Mã hàng</div>
        <div class="product-information-item-value">8935251411669</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Tên Nhà Cung Cấp</div>
        <div class="product-information-item-value">Alpha Books</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Tác giả</div>
        <div class="product-information-item-value">Jeff Dyer, Hal Gregersen, Clayton M Christensen</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Người Dịch</div>
        <div class="product-information-item-value">Kim Diệu</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">NXB</div>
        <div class="product-information-item-value">NXB Thế Giới</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Năm XB</div>
        <div class="product-information-item-value">2018</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Trọng lượng (gr)</div>
        <div class="product-information-item-value">350</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Kích Thước Bao Bì</div>
        <div class="product-information-item-value">15 x 23</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Số trang</div>
        <div class="product-information-item-value">344</div>
    </div>
    <hr/>
    <div class="product-information-item">
        <p>Cách tân - đó chính là nhân tố cốt tử của nền kinh tế toàn cầu, đồng thời là ưu tiên chiến lược của hầu như mọi CEO trên toàn thế giới. Trên thực tế, một khảo sát gần đây của hãng IMB thực hiện với 500 CEO đã nhận diện “khả năng sáng tạo” là vị trí “năng lực lãnh đạo” số một của tương lai. Sức mạnh của những ý tưởng cách tân nhằm cách mạng hóa các ngành nghề, lĩnh vực cũng như sản sinh ra thịnh vượng đã quá ư rõ ràng suốt chiều dài lịch sử: Chiếc iPod của hãng Apple vượt mặt Walkman của Sony, hạt cà phê cùng bầu không khí của Starbucks nhấn chìm các tiệm cà phê truyền thống, Skype vận dụng chiến lược “miễn phí” để đánh bại AT&T cùng Tập đoàn Viễn thông Anh quốc (British Telecom), eBay nghiền nát những quảng cáo phân loại, còn hãng Hàng không giá rẻ Southwest Airlines thì cất cánh ngay bên dưới tầm thống trị của America Airlines và Delta Airlines.</p>
    </div>
</div>
