<div class="product-information-frame">
    <div class="product-information-title">Thông tin sản phẩm</div>
    <div class="product-information-item">
        <div class="product-information-item-key">Mã hàng</div>
        <div class="product-information-item-value">{{product.productId}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Tên Nhà Cung Cấp</div>
        <div class="product-information-item-value">{{product.supplierName}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Tác giả</div>
        <div class="product-information-item-value">{{product.author}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Người Dịch</div>
        <div class="product-information-item-value">{{product.translator}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">NXB</div>
        <div class="product-information-item-value">{{product.nameOfPublisher}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Năm XB</div>
        <div class="product-information-item-value">{{product.yearOfPublication}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Trọng lượng (gr)</div>
        <div class="product-information-item-value">{{product.weight}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Kích Thước Bao Bì</div>
        <div class="product-information-item-value">{{product.size}}</div>
    </div>
    <div class="product-information-item">
        <div class="product-information-item-key">Số trang</div>
        <div class="product-information-item-value">{{product.numberOfPages}}</div>
    </div>
    <hr/>
    <div class="product-information-item">
        <p>{{product.description}}</p>
    </div>
</div>
