<div class="product-cart">
  <div class="card" style="width: 15rem; max-height: 25rem">
    <a routerLink="product">
      <img
        src="https://rosentaskstorage.blob.core.windows.net/book-store/p_1_1.jpg"
        class="card-img-top"
        alt="..."
        style="max-height: 12rem"
      />
    </a>
    <div class="card-body">
      <p class="card-title">Giải thích ngữ pháp tiếng anh</p>
      <p class="price">100.000đ</p>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
  </div>
</div>
