<div class="product-cart">
  <div class="card" style="width: 15rem; height: 22rem">
    <a routerLink="product/{{ product.productId }}">
      <img
        src="{{ product.productImageUrl }}"
        class="card-img-top"
        alt="..."
        style="max-height: 12rem"
      />
    </a>
    <div class="card-body" style="position:relative">
      <p class="card-title">{{ product.productName }}</p>
      <div class="card-bottom">
        <p class="price">{{ product.price }}</p>
        <div class="text-center">
          <ng-container *ngIf="product.isAvailable === false; else checkLogin"><div style="color: red;">Sản phẩm hiện đang hết hàng</div></ng-container>
          <ng-template #checkLogin>
            <ng-container *ngIf="isLogedIn === true; else requireLogin"><button type="button" class="btn btn-primary" (click)="addToCart(product.productId)">Thêm vào giỏ hàng</button></ng-container>
          </ng-template>
          <ng-template #requireLogin><div>Vui lòng đăng nhập để mua hàng</div></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>