<div class="modal fade" tabindex="-1" id="change-password-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Đổi mật khẩu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="old-password" class="form-label">Mật khẩu cũ</label>
            <input
              type="password"
              class="form-control"
              [formControl]="oldPassword"
            />
            <div *ngIf="oldPasswordErr !== ''" style="color: red;">{{oldPasswordErr}}</div>
          </div>
          <div class="mb-3">
            <label for="new-password" class="form-label">Mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              [formControl]="password"
            />
            <div *ngIf="passwordErr !== ''" style="color: red;">{{passwordErr}}</div>
          </div>
          <div class="mb-3">
            <label for="confirm-new-password" class="form-label"
              >Nhập lại mật khẩu mới</label
            >
            <input
              type="password"
              class="form-control"
              [formControl]="confirmPassword"
            />
            <div *ngIf="confirmPasswordErr !== ''" style="color: red;">{{confirmPasswordErr}}</div>
          </div>
          <div *ngIf="changePasswordErr !== ''" style="color: red;">{{changePasswordErr}}</div>
          <div style="text-align: center;">
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="changePassword()">Đổi mật khẩu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
