<div class="profile-frame">
  <div class="profile-detail">
    <div class="profile-detail-title">Thông tin cá nhân</div>
    <div class="profile-detail-info">
      <form action="">
        <div class="mb-3">
          <label for="profile-username" class="form-label">Tài khoản</label>
          <input
            type="text"
            class="form-control"
            id="profile-username"
            value="customer1"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="profile-fullname" class="form-label">Họ và tên</label>
          <input
            type="text"
            class="form-control"
            id="profile-fullname"
            value="Nguyễn Văn A"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="profile-email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="profile-email"
            value="abc@gmail.com"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="profile-phone" class="form-label">Số điện thoại</label>
          <input
            type="tel"
            class="form-control"
            id="profile-phone"
            value="0987654321"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="profile-gender" class="form-label">Giới tính</label>
          <select class="form-control" id="profile-gender" disabled>
            <option selected>Nam</option>
            <option>Nữ</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary update-profile-btn">
          Cập nhật
        </button>
      </form>
      <div>
        <button type="button" class="btn btn-primary" style="margin-right: 4%" data-bs-toggle="modal" data-bs-target="#change-password-form">
          Đổi mật khẩu
        </button>
        <button type="button" class="btn btn-primary">
          Cập nhật thông tin cá nhân
        </button>
      </div>
    </div>
  </div>
  <div class="profile-avatar">
    <div class="profile-detail-avatar">Ảnh đại diện</div>
    <div class="avatar">
      <img
        src="https://rosentaskstorage.blob.core.windows.net/book-store/avt_2.jpg"
        class="avatar-image"
        alt="avt"
      />
    </div>
    <div>
      <button type="button" class="btn btn-primary change-avt-btn">
        Đổi ảnh đại diện
      </button>

      <div class="input-group upload-avt">
        <input
          type="file"
          class="form-control"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
        <button
          class="btn btn-primary"
          type="button"
          id="inputGroupFileAddon04"
        >
          Cập nhật
        </button>
      </div>
    </div>
  </div>
</div>
<app-change-password></app-change-password>
