<div class="orders-frame">
  <div class="orders-title">Danh sách đơn hàng</div>
  <div class="orders-table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ngày đặt</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Trạng thái</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of listOrders">
          <th scope="row">{{order.orderId}}</th>
          <td>{{order.createDate}}</td>
          <td>{{order.totalPrice}}</td>
          <td>{{order.status}}</td>
          <td>
            <button type="button" class="btn btn-primary" routerLink="order-detail/{{order.orderId}}">Xem chi tiết</button>
          </td>
          <td >
            <button type="button" class="btn btn-danger" *ngIf="order.status === 'Đã đặt'" (click)="cancelOrder(order.orderId)">Hủy</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
