<div class="search-form">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" [(ngModel)]="searchValue">
        <select class="form-select" (change)="getSelectedCategory($event)">
            <option selected>Tất cả thể loại</option>
            <option *ngFor="let c of categories" value="{{c.categoryName}}">{{c.categoryName}}</option>
          </select>
        <button class="btn btn-outline-secondary" type="button" (click)="searchProducts()">Tìm kiếm</button>
    </div>
</div>
