<div class="checkout-frame">
  <div class="checkout-name">Thông tin giao hàng</div>
  <div class="delivery-information">
    <div class="choose-delivery-info">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseDeliveryAddress">
        Chọn thông tin nhận hàng
      </button>
      <div *ngIf="requireChooseDelivery !== undefined" style="color: red;">{{requireChooseDelivery}}</div>
    </div>
    <div>
    <div *ngIf="selectedDelivery !== undefined">
      <div><b>Tên người nhận: </b>{{selectedDelivery!.receiverName}}</div>
      <div><b>Số điện thoại: </b>{{selectedDelivery!.receiverPhoneNumber}}</div>
      <div>
        <b>Địa chỉ nhận hàng: </b>{{selectedDelivery!.deliveryAddress}}</div>
    </div>
  </div>
    <div style="margin-top: 2%;"><b>Phương thức thanh toán:</b></div>
    <div>
      <input type="radio" id="cash" [(ngModel)]="paymentMethod" value="Cash" />
      <label for="cash">COD (Thanh toán khi nhận hàng)</label><br />
      <input type="radio" id="zalopay" [(ngModel)]="paymentMethod" value="ZaloPay" />
      <label for="zalopay">ZaloPay</label><br />
      <div *ngIf="requireChoosePayment !== undefined" style="color: red;">{{requireChoosePayment}}</div>
    </div>
  </div>
</div>
<app-choose-delivery (selectDelivery)="selectDelivery($event)"></app-choose-delivery>
