<div class="modal fade" tabindex="-1" id="add-deivery-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm thông tin nhận hàng</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="receiver-name" class="form-label">Tên người nhận</label>
            <input
              type="text"
              class="form-control"
              id="receiver-name"
              [formControl]="receiverName"
            />
            <div *ngIf="receiverNameErr !== ''" style="color: red;">{{receiverNameErr}}</div>
          </div>
          <div class="mb-3">
            <label for="receiver-phone" class="form-label">Số điện thoại</label>
            <input
              type="tel"
              class="form-control"
              id="receiver-phone"
              [formControl]="receiverPhoneNumber"
            />
            <div *ngIf="receiverPhoneNumberErr !== ''" style="color: red;">{{receiverPhoneNumberErr}}</div>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">Tỉnh</label>
            <select
              class="form-select"
              id="city"
              aria-label=".form-select-sm"
              (change)="changeCity($event)"
            >
              <option *ngFor="let c of citiesData" value="{{c.city}}">{{c.city}}</option>
            </select>
            <div *ngIf="requireCity !== ''" style="color: red;">{{requireCity}}</div>
          </div>
          <div class="mb-3">
            <label for="district" class="form-label">Quận/Huyện</label>
            <select
              class="form-select"
              id="district"
              aria-label=".form-select-sm"
              (change)="changeDistrict($event)"
            >
              <option *ngFor="let d of districts" value="{{d}}">{{d}}</option>
            </select>
            <div *ngIf="requireDistrict !== ''" style="color: red;">{{requireDistrict}}</div>
          </div>
          <div class="mb-3">
            <label for="receive-address" class="form-label"
              >Địa chỉ cụ thể</label
            >
            <input
              type="text"
              class="form-control"
              id="receive-address"
              [formControl]="receiveAddress"
            />
            <div *ngIf="receiveAddressErr !== ''" style="color: red;">{{receiveAddressErr}}</div>
          </div>
          <div style="text-align: center">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" (click)="addAddress()">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>